.crypt-name {
    font-size: 25px;
    font-weight: bold;
    flex: 2;
    margin-left: 0;
}

.crypt-price {
    font-size: 25px;
    margin-left: 20px;
}
h1{
    font-size: 25px;
    font-weight: bold;
    flex: 2;
    margin-left: 0;
    color:#00e7ff;
}
